body{
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/1648383/pexels-photo-1648383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
p.sub-title{
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}

#contact-container{
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .2);
    -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    ;
    .contact-info{
        background-color:  #a49ab1;
        border-radius: 15px;
        flex: 0 1 40%;
        padding: 40px;
        color: white;
        display: flex;
        flex-direction: column;

        h4{
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
        }
        p{
            color: rgba(255, 255, 255, .7);
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        .icon-text{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 2rem;
            .fa{
                flex: 0 0 40px;
                font-size: 1.8rem;
                margin-right: 2rem;
                color: #05f7ff;
            }
            span{
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
        .social-media{
            display: flex;
            width: 50%;
            justify-content: space-between;
            .icon-circle{
                flex: 0 0 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-radius: 50%;
                transition: all .3s ease-in-out;
                &:hover{
                    background: #05f7ff;
                }
                .fa{
                    font-size: 25px;
                }
            }
        }
        
    }
    form{
        padding: 40px;
        width: 100%;
        .col{
            display: flex;
            width: 100%;
            flex: 0 0 100%;
        }
        .form-group{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex: 0 1 100%;
            padding-right: 40px;
            label{
                font-size: 0.9rem;
                font-weight: 500;
                color: black;
                margin-bottom: 1rem;
            }
            input[type="text"], input[type="email"], input[type="tel"], textarea{
                //background: rgba(255, 255, 255, .2);
                border: none;
                cursor: pointer;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: 300;
                color: white;
                background: transparent;
                border-bottom: 2px solid black;
                transition: all .5s ease-in-out; 
                margin-bottom: 2rem;
                &:focus{
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #05f7ff;
                }
            }
            &:nth-child(2){
                padding-right: 0;
            }
            #radio-buttons{
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
                margin-bottom: 2rem;
                .radio-button{
                    margin-right: 10px;
                }
                label{
                    font-size: 1.2rem;
                }
                input[type="radio"]:checked + label{
                    color: white;
                    font-weight: 700;
                };
            }
            &.solo{
                padding: 0;
            }
            &.right{
                align-items: flex-end;
            }
            button{
                width: 200px;
                height: 60px;
                cursor: pointer;
                background: white;
                border: none;
                text-transform: uppercase;
                border-radius: 10px;
            }
        }
    }
    
}